@import "tailwindcss";

:root {
  --background: #22323c;
  --primary: #17d492;
  --secondary: #f5f5f5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}